html {
  height: 100%;
  font-family: 'Crimson Pro', serif;
  line-height: 1.6;
}

body {
  height: 100%;
  margin: 0;
  background-color: #b0bec5;
}

.startScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: black;
  opacity: 0.9;
  color: white;
}

.startScreen__element {
  max-width: 600px;
  text-align: center;
  padding: 0 24px;
}

.startScreen__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.startScreen__button {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background: transparent;
  padding: 12px 24px;
  border: 1px solid white;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.page {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh);
}

.sideBar {
  width: 250px;
  padding: 24px 0 24px 24px;
  background: #212121;
}

.header__title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1;
  color: #757575;
  font-style: italic;
  margin-bottom: 60px;
}

.header__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #616161;
}

.header__title span {
  display: block;
  color: white;
  font-style: normal;
}

.button {
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Crimson pro', serif;
  text-transform: uppercase;
  text-align: left;
  color: #616161;
  letter-spacing: 1px;
  padding: 12px 0;
  border: none;
  appearance: none;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  border-top: 1px solid #616161;
  transition: color 250ms ease-in-out, border-top 250ms ease-in-out;
}

.button--active {
  color: white;
  border-top: 1px solid white;
}

.button:hover {
  color: white;
  border-top: 1px solid white;
}

#explanation {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 60px;
  padding-right: 24px;
}

.menu {
  position: absolute;
  bottom: 0;
  padding: 24px 0 48px;
}

.menu__item {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: #616161;
}

.menu__item a {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: #616161;
}

.menu__item a:hover {
  color: white;
}

.content {
  flex: 1 0 auto;
  padding: 24px 48px;
}

.dotplot {
  width: 100%;
  height: 100%;
}

.dot {
  fill: #212121;
  stroke: transparent;
  stroke-width: 2px;
  transition: stroke-width 200ms;
}

.dot__Film {
  fill: white;
}

.dot--hover {
  stroke-width: 0;
}

.tooltip,
.tooltip__fixed {
  position: absolute;
  width: 150px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.6rem;
  padding: 3px 6px;
  display: none;
}

.tooltip--active {
  display: block;
}

.tooltip__fixed--active {
  display: block;
}

.tooltip p {
  margin: 0;
}

.tooltip__title {
  text-transform: uppercase;
}

.tooltip__title span {
  color: #78909c;
  font-style: italic;
}

.axis text {
  font-family: 'Roboto', sans-serif;
  fill: black;
}

.axis line {
  stroke: #616161;
  stroke-dasharray: 0.1 3;
  stroke-linecap: round;
}

.axis__label {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: #546e7a;
}

.axis--hide {
  display: none;
}

.meanLine {
  stroke: #546e7a;
}

.dotplotAnnotation {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: #546e7a;
}

@media (max-width: 768px) {
  .startScreen__text {
    font-size: 0.9rem;
  }

  .page {
    align-content: flex-start;
  }

  .sideBar {
    width: 100%;
    padding: 24px;
  }

  .header__title {
    font-size: 1.8rem;
    margin-bottom: 12px;
  }

  .header__title span {
    display: inline;
  }

  #explanation {
    margin-top: 24px;
  }

  .menu {
    position: inherit;
    padding: 0;
    margin-bottom: 24px;
  }

  .content {
    padding: 0;
    height: 800px;
  }
}
